/* .NewPasswordUpdateBack{
    background: url('./authBack3.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
} */